.dropdown {
  position: relative;
  display: inline-flex;

  .dropdownBtn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    border-width: 0;
    letter-spacing: 0.6px;
    white-space: nowrap;
    outline: none;
    transition: background-color 160ms ease-out, box-shadow 160ms ease;

    &:hover {
      text-decoration: none;
    }

    &:disabled,
    &.disabled.disabled {
      background-color: #ebecf0;
      color: #7a869a;
      cursor: not-allowed;

      &:hover {
        background-color: #ebecf0;
        color: #7a869a;
        cursor: not-allowed;
      }
    }

    &:focus {
      outline: none !important;
    }

    &.button-primary {
      background-color: #2c5de5;
      color: #fff;

      &:hover,
      &.dropdownActive {
        background-color: #172b4d;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(#2c5de5, 0.4);
      }

      &:disabled,
      &.disabled {
        background-color: #ebecf0;
        color: #7a869a;
        cursor: not-allowed;
      }
    }

    &.button-secondary {
      background-color: #ebecf0;
      color: #172b4d;

      &:hover,
      &.active {
        background-color: #c7c7c7;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(#ebecf0, 0.4);
      }

      &:disabled,
      &.disabled {
        background-color: #fff;
        color: #7a869a;
        border: 1px solid #c7c7c7;
        cursor: not-allowed;
      }
    }

    &.button-tertiary {
      background-color: transparent;
      color: #172b4d;

      &:hover,
      &.active {
        color: #2c5de5;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(#ebecf0, 0.4);
      }

      &:disabled,
      &.disabled {
        color: #7a869a;
        cursor: not-allowed;
      }
    }

    &.button-special {
      background-color: #eef3ff;
      color: #2c5de5;

      &:hover,
      &.active {
        color: #fff;
        background-color: #172b4d;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(#eef3ff, 0.4);
      }

      &:disabled,
      &.disabled {
        background-color: #ebecf0;
        color: #7a869a;
        cursor: not-allowed;
      }
    }

    &.button-special-success {
      background-color: lighten(#36b37e, 48);
      color: #36b37e;

      &:hover,
      &.active {
        color: #fff;
        background-color: #36b37e;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(lighten(#36b37e, 48), 0.4);
      }

      &:disabled,
      &.disabled {
        background-color: #ebecf0;
        color: #7a869a;
        cursor: not-allowed;
      }
    }

    &.button-dashed {
      background-color: #eef3ff;
      color: #2c5de5;
      border: 1px dashed #2c5de5;
      height: auto !important;

      &:hover,
      &.active {
        background-color: #cadaff;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(#eef3ff, 0.4);
      }
    }
  }

  .menu-style {
    position: absolute;
    top: calc(100% + 4px);
    right: 0;
    z-index: 1000;
    flex-direction: column;
    min-width: 180px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 12px 32px rgba(26, 26, 26, 0.2);

    ul {
      list-style: none;
      padding-left: 0;
      margin-top: 12px;
      margin-bottom: 12px;
    }
  }

  .menu-left {
    top: calc(100% + 4px);
    right: 0;
  }

  .menu-right {
    left: 0;
    right: auto;
  }

  .menu-top-right {
    top: auto;
    bottom: calc(100% + 4px);
    left: 0;
    right: auto;
  }

  .menu-top-left {
    top: auto;
    bottom: calc(100% + 4px);
    left: auto;
    right: 0;
  }
}
