// this makes a basic circle
@mixin circle($param) {
  width: $param;
  height: $param;
  border-radius: 50%;
}

// Brand Colour Palette
$purple: #462882;
$green: #1ef0a0;
$blue: #4644fd;
$red: #ff3c4b;

// this is what I use to place the menu thing wherever I want
.circularMenu-container {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

// this toggles the whole damn thing
.circularMenu-toggle {
  @include circle(60px);
  background-color: #555b6b;
  box-shadow: 4px 4px 2px 1px rgba(#000, 0.2);

  position: absolute;
  z-index: 5;
  bottom: 0;
  right: 0;
  display: table;

  text-align: center;

  .fa {
    color: #fff;
    font-size: 2em;
    display: table-cell;
    vertical-align: middle;
    transition: 0.4s;
  }

  // Twist the plus so it looks like a close 'x'
  &.open .fa {
    transform: rotate(135deg);
  }
}

// Single Template buttons
.btn-app {
  @include circle(2.5em);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: $blue;
  color: #fff;
  text-align: center;

  .fa {
    line-height: 2.5em;
    font-size: x-large;
  }

  .app-image {
    width: 100%; /* or any custom size */
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
  }
}

// add shadow only when templates are activated
.open .btn-app {
  box-shadow: 4px 4px 2px 1px rgba(#000, 0.2);
}

// The most-popular apps in a circular thingo
.circularMenu-round {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;

  .btn-app {
    bottom: 0.25em;
    right: 0.25em;
    transition: 0.4s;
  }

  // position of templates when activated
  &.open {
    .btn-app:nth-of-type(1) {
      right: 0.5em;
      bottom: 4.25em;
      transition-delay: 0.2s;
    }
    .btn-app:nth-of-type(2) {
      right: 3.5em;
      bottom: 3.5em;
      transition-delay: 0.1s;
    }
    .btn-app:nth-of-type(3) {
      right: 4.25em;
      bottom: 0.5em;
    }
  }
}

// stacked template icons
.circularMenu-line {
  position: absolute;
  z-index: 2;

  .btn-app {
    bottom: 0;
    right: 0.5em;
    transition: 0.3s;
    transition-delay: 0.5s;
  }

  &.open {
    // first one. add 3 to each subsequent template
    $bottom: 4.25em;
    $templates: 7;

    .btn-app:nth-of-type(1) {
      bottom: $bottom;
    }

    // align each template item on top of the next
    @for $i from 1 through $templates {
      .btn-app:nth-of-type(#{$i}) {
        bottom: $bottom + 3 * $i;
      }
    }
  }
}
