.customMenu {
  width: 200px;
  height: fit-content;
  position: absolute;
  z-index: 10;
  transition: display 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: #dbdbdb;
  opacity: 0.95;
  border-right: 1px solid #c1c1c1;
  border-left: 1px solid #c1c1c1;
  white-space: nowrap;
  flex-direction: column;
}

.customMenuItem {
  background-color: #a8a8a8;
  min-width: 100%;
  height: fit-content;
  -webkit-box-shadow: 6px 7px 9px -2px #000000;
  box-shadow: 6px 7px 9px -2px #000000;
  margin-top: 1px;
  display: flex;
}

.customMenuItem:hover {
  background-color: aqua;
}

.customMenuIcon {
}

.customMenuTitle {
  margin-left: 10px;
  font-weight: 400;
}
